@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Lato:400,700');
body {
	font-family: 'Comfortaa', cursive;
	background-color: rgb(27, 15, 39);
}
.section {
	background-color: rgb(27, 15, 39);
}
button {
	font-family: 'Lato', sans-serif;
}
.is-text-centered {
	text-align: center;
}
.is-margin-centered {
	margin: 0 auto;
}

.is-full-height {
	height: 100vh;
}

.profile-image {
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}

.spotify-login-button {
	background-color: rgb(20, 190, 85);
	border: none;
	border-radius: 30px;
	color: white;
	text-transform: uppercase;
}